services:
  rust-api-aws-guide-v1-app:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - rust-api-aws-guide-v1-db
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@rust-api-aws-guide-v1-db:5432/${POSTGRES_DB}

  rust-api-aws-guide-v1-db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
volumes:
  postgres_data:
